################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Practica1PBD/.vs/Practica1PBD/FileContentIndex/92e177c7-0a86-4457-b523-b36916f8764f.vsidx
